

#particles {
  width: 100%;
  height: 130px; /*动画高度*/
  overflow: hidden;
}

.intro {
  position: absolute;
  left: 0;
  top: 10%; /*字体高度*/
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
.header{
	position:relative;
	width:100%;
	height: 100%;
	background: url("/img/back.jpg");
	}